@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #27081d;
}
main{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #66997b;
    width: 250px;
}
#text_login{
    text-align: center;
    color: #d2e7aa;
}
#container_login > p{
    color: white;
    background-color: #47232c;
margin: 5px;
padding: 5px;
border-radius: 5px;
}

#container_login > p > input{
    float: right;
    border-radius: 3px;
}
#container_login >p#btn{
    text-align: center;
    
}
#container_login > p#btn > #btn_entrar{
    width: 230px;
    height: 35px;
}
#container_login > p#btn > #btn_entrar:hover{
    background-color: #a4ca8b;
}
#container_login > p#btn > #btn_entrar:active{
    background-color: #718a60;
}
#text_recuperar{
    color: rgb(161, 36, 36);
    margin: 5px;
    text-decoration: underline;
}
#text_recuperar:hover{
    color: rgb(122, 28, 28);
}
#secao_recuperar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #66997b;
    width: 250px;
    border-radius: 5px; 
    transition: all 0.2s;
    z-index: -1;
}
#div_recuperar > p{
    margin: 5px;
    text-align: center;
}
#div_recuperar > p > input{
    font-size: 1.1em;
    cursor: pointer;
}
#div_recuperar > p > button{
    font-size: 1.3em;
    cursor: pointer;
}
#text_fechar{
    text-align: center;
    color: rgb(150, 39, 39);
    font-size: 1.3em;
    cursor: pointer;
}
.evento_seta{
    top: 76% !important;
    transition: all 0.2s !important;
    z-index: 0 !important;
   }
@media screen and (min-width:360px) and (max-width:374px) {
    .evento_seta{
     top: 73% !important;
     z-index: 0 !important;
    }
}
@media screen and (min-width: 375px) and (min-height: 667px) and (max-height: 811px) {
    .evento_seta{
        top: 75% !important;
        z-index: 0 !important;
       }
}
@media screen and (min-width: 375px) and (min-height: 812px){
    .evento_seta{
        top: 71% !important;
        z-index: 0 !important;
       }
}
